.wrapper {
    min-width: 320px;
    box-sizing: border-box;
    background-color: #282828;
    background: url(../images/Layer.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
}
.pixel {
    position: absolute;
    width: 960px;
    left: 50%;
    margin-left: -480px;
    height: 1564px;
    background: url(../images/site.jpg) no-repeat;
    background-position: top left;
    background-size: auto;
    opacity: 0.3;
    z-index: 1;
}
#menue-call {
    display: none;
}
.hiden {
    display: none;
}
.main-header {
    background-color: #000;
}
.main-header-wrapper {
    max-width: 960px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.small-logo {
    padding: 30px 20px 18px;
}
.big-logo {
    margin: 30px auto 0;
    display: block;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.6));
}
.main-nav li {
    display: inline-block;
}
.main-nav {
    display: flex;
}
.main-nav li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 28px 20px;
    position: relative;
    font-weight: normal;
}
.main-menue[data-active="active"]::after {
    content: "";
    width: calc(100% - 40px);
    height: 3px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
}
.main-nav li a:hover,
.main-entrance:hover {
    background-color: #242424;
}
.main-entrance {
    font: inherit;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    border: none;
    margin: 0;
    position: relative;
    padding: 28px 20px 28px 55px;
    font-weight: normal;
}
.main-entrance::before {
    content: " ";
    background: url(../images/login.svg) no-repeat;
    opacity: 0.3;
    background-position: center left;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 24px;
    top: 33px;
}
.main-entrance:hover::before {
    opacity: 1;
}
.main-form {
    width: 460px;
    padding: 45px 80px 60px 80px;
    background-color: #f6f3f0;
    box-sizing: border-box;
    position: fixed;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 5;
}
.form-cross {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -34px;
    top: 7px;
    cursor: pointer;
}
.form-cross::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
}
.form-cross::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    top: 10px;
}
.main-form h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 20px;
}
.main-form h3 {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: bold;
}
.form-input {
    width: 300px;
    height: 42px;
    border: 2px solid #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    font: inherit;
    padding: 0 15px;
    box-sizing: border-box;
    color: #000;
}
.form-input::placeholder {
    color: #000;
    font-weight: bold;
}
.form-submit {
    font: inherit;
    width: 300px;
    height: 43px;
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.form-submit:hover {
    background-color: #673d15;
}
.main-form-check {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#form-remember-me {
    display: none;
}
.form-remember-me {
    width: 16px;
    ;
    height: 16px;
    border: 2px solid #000;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.form-remember-me::after {
    content: "";
    width: 14px;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #000;
    display: none;
    top: 7px;
    right: 1px;
}
.form-remember-me::before {
    content: "";
    width: 14px;
    height: 2px;
    position: absolute;
    transform: rotate(45deg);
    background-color: #000;
    display: none;
    top: 7px;
    right: 1px;
}
#form-remember-me:checked ~ .form-remember-me::before {
    display: block;
}
#form-remember-me:checked ~ .form-remember-me::after {
    display: block;
}
.main-form-check p {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 3px;
}
.main-form {
    animation-duration: 0.5s;
    animation-name: form-uprise;
}
@keyframes form-uprise {
    0% {
        top: -1000px;
    }
    80% {
        top: 130px;
    }
    90% {
        top: 115px;
    }
    100% {
        top: 120px;
    }
}
.main-info {
    color: white;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 40px;
}
.benefit-list li {
    display: inline-block;
    width: 25%;
    padding: 0 4%;
    vertical-align: top;
}
.benefit-list h3,
.main-block h3 {
    font-size: 30px;
}
.main-block h3 {
    margin-bottom: 35px;
}
.benefit-list p {
    line-height: 24px;
    margin-bottom: 75px;
}
.benefit-list h3::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-color: white;
    transform: rotate(45deg);
    margin: 20px auto;
}
.main-block {
    background: url(../images/main_block_separator.png) no-repeat, white;
    background-position: center;
    background-size: contain;
    padding: 50px 0;
    color: black;
    margin: 0 10px 35px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.main-photo .slider {
    position: relative;
    max-width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}
.slider-photo {
    width: 100%;
    height: 100%;
    display: block;
    background-position: center;
    background-size: cover;
    transition: 0.5s all;
    opacity: 0;
    position: absolute;
}
.slider-active {
    opacity: 1;
    transition: 0.5s all;
}
.slider-photo:nth-child(1) {
    background: url(../images/slider_001.jpg) no-repeat;
    background-position: center;
}
.slider-photo:nth-child(2) {
    background: url(../images/slider_002.jpg) no-repeat;
    background-position: center;
}
.slider-photo:nth-child(3) {
    background: url(../images/slider_003.jpg) no-repeat;
    background-position: center;
}
.slider-photo:nth-child(4) {
    background: url(../images/slider_004.jpg) no-repeat;
    background-position: center;
}
.main-block article {
    width: 50%;
    box-sizing: border-box;
    padding: 0 50px;
}
.main-news time {
    text-transform: capitalize;
    margin-bottom: 20px;
    display: inline-block;
}
.btn-01,
#sign-up-form button {
    width: 140px;
    height: 45px;
    background-color: black;
    color: white;
    font: inherit;
    text-transform: uppercase;
    border: none;
    margin: 25px 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 3;
    text-decoration: none;
}
#sign-up-form div {
    display: inline-block;
    box-sizing: border-box;
}
#sign-up-form button {
    width: 100%;
    margin: 20px 0;
    padding: 0;
}
#sign-up-form input {
    width: 150px;
    border: 2px solid #000;
    padding: 8px;
    margin: 0 10px 20px;
    font-weight: bold;
    box-sizing: border-box;
}
.main-footer {
    background: url(../images/footer_bg.jpg);
    color: white;
    text-align: center;
}
.main-footer-content {
    display: flex;
    padding: 35px 10px;
    justify-content: space-between;
}
.footer-social ul {
    display: flex;
    margin-top: 10px;
}
.footer-social li {} .developed .btn-01 {
    margin: 10px 0;
}
.footer-social a {
    color: white;
    margin: 0 10px;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-self: center;
}
.main-footer a img {
    align-self: center;
}
.footer-contact {
    text-align: left;
}
.footer-contact a {
    display: inline-block;
    color: white;
    border-bottom: 2px solid #fff;
    text-decoration: none;
    margin-bottom: 4px;
}
@media screen and (max-width: 900px) {
    .btn-01 {
        width: 120px;
    }
    .main-form {
        position: absolute;
    }
}
@media screen and (max-width: 800px) {
    .main-nav li a {
        padding: 28px 15px;
    }
    .benefit-list h3,
    .main-block h3 {
        font-size: 24px;
    }
    .btn-01 {
        width: 70px;
    }
    .developed .btn-01 {
        width: 120px;
    }
}
@media screen and (max-width: 600px) {
    .main-entrance {
        padding: 28px 15px 28px 30px;
    }
    .main-entrance::before {
        left: 5px;
    }
    .main-form {
        transform: scale(0.8);
    }
    .btn-01 {
        width: 150px;
    }
    .main-block {
        background: white;
        display: block;
        padding: 25px 10px 1px;
    }
    .main-block article {
        width: auto;
        margin-bottom: 30px;
        padding: 0 10px;
    }
    #sign-up-form button {
        margin: 0;
    }
    .footer-social a {
        margin: 0 5px;
    }
    .benefit-list li {
        width: auto;
        padding: 0 10px;
    }
    .benefit-list p {
        margin-bottom: 25px;
    }
    .benefit-list h3::after {
        margin: 8px auto;
    }
    .main-nav li a {
        padding: 28px 10px;
    }
    .main-menue[data-active="active"]::after {
        width: calc(100% - 20px);
    }
}
@media screen and (max-width: 480px) {
    .main-form {
        transform: scale(0.6);
    }
    .main-footer-content {
        display: block;
        padding: 20px 10px;
    }
    .main-footer-content > div {
        margin-bottom: 20px;
    }
    .main-footer-content > div:last-child {
        margin-bottom: 0;
    }
    .footer-contact {
        text-align: center;
    }
    .footer-social ul {
        justify-content: center;
    }
    .footer-social a {
        margin: 0 20px;
    }
    .footer-social ul {
        margin-top: 0;
    }
    .btn-01 {
        margin: 0;
    }
    .main-block h3 {
        margin-bottom: 5px;
    }
    .main-photo .slider {
        margin-top: 10px;
    }
    .main-news time {
        margin-bottom: 10px;
    }
    .main-contact .button-01-block {
        margin-top: 10px;
    }
    .big-logo {
        width: 320px;
    }
    .btn-01 {
        width: 125px;
    }
    .main-nav {
        display: block;
        width: calc(100% - 20px);
        position: relative;
    }
    .ul-nav {
        position: absolute;
        width: 100%;
        top: 95px;
        z-index: 5;
        left: -380px;
        transition: 0.5s all;
    }
    .main-nav li {
        display: block;
        background-color: black;
        margin-bottom: 8px;
    }
    .main-nav li a {
        padding: 10px 15px;
        box-shadow: 0 0 5px 1px #fff;
    }
    .small-logo {
        display: block;
        margin-left: 50px;
    }
    .main-burger-menue {
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: 28px;
        left: 20px;
    }
    .main-burger-menue span {
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 10px;
    }
    .main-burger-menue::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        display: block;
        position: absolute;
        top: 3px;
        transition: 0.5s all;
    }
    .main-burger-menue::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        display: block;
        position: absolute;
        bottom: 5px;
        transition: 0.5s all;
    }
    #menue-call:checked + .main-burger-menue::before {
        transform: rotate(45deg);
        top: 10px;
        transition: 0.5s all;
    }
    #menue-call:checked + .main-burger-menue::after {
        transform: rotate(-45deg);
        top: 10px;
        transition: 0.5s all;
    }
    #menue-call:checked + .main-burger-menue span {
        display: none;
    }
    #menue-call:checked ~ .ul-nav {
        display: block;
        transition: 0.5s all;
        left: 0px;
    }
    .main-menue[data-active="active"]::after {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .main-form {
        transform: scale(0.5);
    }